<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PrinterDemoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrinterDemo"
        tools:targetApi="31">
        <activity
            android:name=".activity.PrintPrnActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectFileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrintFileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrintImgActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrintTextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IpSetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UsbDevicesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DevicesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WifiDevicesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WifiSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeviceAddActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrintActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BluetoothDevicesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>